

<div id="rt-error-body" style="background-color: white; margin-left: 200px; margin-right: 200px;">
  <div class="rt-container">
    <div class="component-content">
      <div class="rt-grid-12">
        <div class="rt-block">
          <div class="rt-error-box custom-404">
            <div style="text-align: center;">
            <h1 class="error-title title" style="border: none; box-shadow: none;padding: 0; font-size: 8.0em; text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);">404</h1>
            <img src="<?php echo(IMG_DIR) ?>error.jpg" alt="imagen no disponible" height="150px" width="160px">
            <h2 class="error-message" style="border: none; box-shadow: none; margin: 0; padding: 0; font-size: 2.0em; line-height: 2.0em;">Pagina no encontrada</h2>
            <div class="error-content">
            <p>La pagina que ha solicitado no se encuentra disponible o no existe .</p>
            <p><a href="?view=home"><span>Ir a la pagina de Inicio</span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="<?php echo(IMG_DIR)?>logo.png" alt="Imagen no disponible">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Lo sentimos, el recurso solicitado no se encuentra disponible</p>
            </div>
            <div class="card-action">
              <a href="?view=home">Ir a inicio</a>
            </div>
          </div>
        </div>
      </div>
-->
