<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="<?php echo(IMG_DIR)?>logo.png" alt="">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Lo sentimos, el recurso solicitado no se encuentra disponible</p>
            </div>
            <div class="card-action">
              <a href="?view=home">Ir a inicio</a>
            </div>
          </div>
        </div>
      </div>
