<form class="col s10 offset-s1 panelbackground">
    <div class="row">
        <div id="submenus" class="col s5 m2" style="border:1px solid black !important; margin:20px !important;">
            <div class="switch">
                <label>
                    Agregar
                    <input type="checkbox" name="editar">
                    <span class="lever right-align"></span>Editar
                </label>
            </div>
        </div>

        <div class="input-field col s6 m2 offset-m1">
            <input id="icon_prefix cedula" type="text" class="validate center" name="cedula" pattern="[0-9]{3}-[0-9]{6}-[0-9]{4}[A-Z]{1}" required>
            <label for="icon_prefix" data-error="Cedula invalida" data-success="Correcto">Cedula</label>
        </div>
        <div class="input-field col s6 m2">
            <input id="icon_prefix" type="text" class="validate center" name="nombre1" required>
            <label for="icon_prefix">Primer Nombre</label>
        </div>
        <div class="input-field col s6 m2">
            <input id="icon_prefix" type="text" class="validate center" name="nombre2">
            <label for="icon_prefix">Segundo Nombre</label>
        </div>
        <div class="input-field col s6 m2">
            <input id="icon_prefix" type="text" class="validate center" name="apellido1" required>
            <label for="icon_prefix">Primer Apellido</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 m2">
            <input id="icon_prefix" type="text" class="validate center" name="apellido2">
            <label for="icon_prefix">Segundo Apellido</label>
        </div>
        <div class="input-field col s6 m2">
            <input id="icon_prefix" type="text" class="validate center" name="telefono" pattern="[0-9]{8}">
            <label for="icon_prefix" data-error="Telefono invalido" data-success="Correcto">Telefono</label>
        </div>
        <div class="input-field col s6 m2">
            <select>
                <option value="" selected>Cargo</option>
                <option value="1">Supervisor</option>
                <option value="2">Bodega</option>
                <option value="3">Vendedor</option>
            </select>
        </div>
        <div class="input-field col s6 m2">
            <select>
                <option value="" selected>Jefe</option>
                <option value="1">Ricardo</option>
                <option value="2">Eleazar</option>
                <option value="3">Westly</option>
            </select>
        </div>

        <div class="input-field col s6 m2 offset-m1">
            <input id="icon_prefix" type="text" class="validate center" name="telefono" pattern="[0-9]{7}">
            <label for="icon_prefix" data-error="Telefono invalido" data-success="Correcto">Inss</label>
        </div>
    </div>
</form>

<script src="<?php echo(AJAX_DIR)?>empleado.js"></script>

</div>
</div>
