
<div id="menu-container">
    <form class="col s10 offset-s1 panelbackground" id="formEmpleado">
        <input type="hidden" name='id_empleado'>
        <div class="row">

            <hr>
            <h3>Registro de empleados</h3>
            <hr>

            <div id="submenus" class="col s5 m3" style="border:1px solid black !important; margin:20px !important;">
                <div class="switch">
                    <label>
                        Agregar
                        <input type="checkbox" name="editar">
                        <span class="lever right-align"></span>Editar
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 m3">
                <input id="icon_prefix cedula" type="text" class="validate center" name="cedula" pattern="[0-9]{3}-[0-9]{6}-[0-9]{4}[A-Z]{1}" required placeholder="Cedula">

            </div>
            <div class="input-field col s6 m3">
                <input id="icon_prefix" type="text" class="validate center" name="nombre1" required placeholder="Primer Nombre">
            </div>
            <div class="input-field col s6 m3">
                <input id="icon_prefix" type="text" class="validate center" name="nombre2" placeholder="Segundo Nombre">
            </div>
            <div class="input-field col s6 m3">
                <input id="icon_prefix" type="text" class="validate center" name="apellido1" required placeholder="Primer Apellido">
            </div>
        <div class="input-field col s6 m3">
            <input id="icon_prefix" type="text" class="validate center" name="apellido2" placeholder="Segundo Apellido">
        </div>
        <div class="input-field col s6 m3">
            <input id="icon_prefix" type="text" class="validate center" name="telefono" pattern="[0-9]{8}" placeholder="Telefono">
        </div>


            <div class="input-field col s6 m5">
            <input id="icon_prefix" type="text" class="validate center" name="correo" required placeholder="Correo Electronico">
        </div>

        </div>


        <div class="row">

            <div class="input-field col s6 m3">
            <input id="icon_prefix" type="text" class="validate center" name="numero_inss" pattern="[0-9]{7}" placeholder="Numero INSS">
            </div>

            <div class="input-field col s6 m3">

            <select class="browser-default">
                <option value="" selected>Jefe</option>
                <option value="1">Ricardo</option>
                <option value="2">Eleazar</option>
                <option value="3">Westly</option>
            </select>
        </div>


        <div class="input-field col s6 m2">
            <select class="browser-default">
                <option value="" selected>Rol</option>
                <option value="1">Gerente General</option>
                <option value="2">Gerente de sitio</option>
                <option value="3">Empleado</option>
                <option value="4">Cliente</option>

            </select>
        </div>

        <div class="input-field col s6 m2">
            <select class="browser-default">
              <option value="" selected>Cargo</option>
               <?php
                 include_once(MODELS_DIR . 'puesto.php');
                  $puestos = Puesto::getPuesto();
                  foreach ($puestos as &$puesto)
                  {
              ?>
                  <option value="<?php echo($puesto->getId_Puesto())?>" selected><?php echo($puesto->getNombre())?></option>
               <?php
                  }
            ?>
               <!--
                <option value="" selected>Cargo</option>
                <option value="1">Supervisor</option>
                <option value="2">Bodega</option>
                <option value="3">Vendedor</option>
                -->
            </select>
        </div>

        <div class="input-field col s6 m2">
            <a id="btncargo" class="waves-effect waves-light btn">...</a>
        </div>

            <div class="center">
            <button type="submit" class="waves-effect waves-light btn"  style="margin-top: 50px; margin-bottom: 50px; margin-right:250px">Registrar empleado</button>
            </div>

        </div>

        <hr>
        <h3>Control de empleados</h3>
        <hr>


        <div class="center" style="margin-top: 35px;">
            <i class="material-icons prefix">search</i>
            <input id="searchtxt" type="text" class="validate center" placeholder="Buscar empleado">
        </div>


<table id="empleados" class="responsive-table highlight scroll-y" style="margin: 20px auto;">
    <thead>
        <tr>
            <th data-field="id">N. Empleado</th>
            <th data-field="cedula">Numero Cedula</th>
            <th data-field="nombre">Nombre</th>
            <th data-field="correo">Correo</th>
            <th data-field="celular">Celular</th>
            <th data-field="fecha">Fecha Ingreso</th>
        </tr>
    </thead>

    <tbody id="table">
        <?php include(GET_DIR.'empleadosGet.php')?>
    </tbody>
</table>

</form>

<script src="<?php echo(AJAX_DIR)?>empleado.js"></script>

</div>
</div>
</div>
