<div id="menu-container" class="full center">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <ul class=" tabs tab-profile z-depth-3 #0277bd light-blue" style="margin-top: 30px">
                <li class="tab col s4">
                    <a class="white-text waves-effect waves-light" href="#agregarinsidencia">
                        <i class="material-icons">create</i> Insidencia
                    </a>
                </li>
                <li class="tab col s4">
                    <a class="white-text waves-effect waves-light" href="#file">
                        <i class="material-icons">content_paste</i>Subir Archivo
                    </a>
                </li>
            </ul>

            <!-- this is just for post a text problem or insidenia in spanish -->
            <form id="agregarinsidencia" class="tab-content col s12  grey lighten-4 z-depth-3">
                <div id="result">
                </div>
                <div class="row">
                    <div class="col s3">
                        <img src="<?php echo(PROFILE_DIR)?>120161106.jpg)" alt="" class="circle responsive-img valign" style="margin-top:20px">
                    </div>
                    <div class="input-field col s9" style="margin-top:30px">
                        <textarea id="textarea" row="2" class="materialize-textarea" name="descripcion"></textarea>
                        <label for="textarea">
                            Tiene alguna insidencia que compartir ?
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 m6 share-icons left-align">
                        <i class="material-icons blue-text">create</i>
                        <i class="material-icons">content_paste</i>
                    </div>
                    <div class="col s8 m6 right-align">
                        <button class="waves-effect waves-light btn" type="submit">
                            <i class="material-icons">send</i>Agregar
                        </button>
                    </div>
                </div>
            </form>

            <!-- this is to post a document with a description -->

            <form id="file" class="tab-content col s12  grey lighten-4 z-depth-3">
                <div class="row">
                    <div class="col s3">
                        <img src="img/people.svg" alt="" class="circle responsive-img valign" style="margin-top:20px">
                    </div>
                    <div class="input-field col s9" style="margin-top:30px">
                        <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                        <label for="textarea">
                            Descripcion respecto a lo adjuntado!!..
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 share-icons left-align">
                        <i class="material-icons">create</i>
                        <i class="material-icons green-text">content_paste</i>
                    </div>
                    <div class="col s12 m10 right-align">
                        <div class="file-field input-field col s12 m6 offset-m3" style="margin-top:-1px">
                            <div class="btn">
                                <i class="material-icons">attach_file</i>
                                <span>Adjuntar</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light col s5 m3" type="submit">
                            <i class="material-icons">send</i>Agregar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <?php include( GET_DIR . 'insidenciasGet.php')?>
    <!--

    <div class="row">
        <div class="col s12 m10 offset-m1" style="margin-top:50px;">
            <div class="card">
                <div class="card-content" style="height:auto">
                    <div class="row">
                        <div class="col s2">
                            <img src="img/profile.svg" class="circle responsive-img">
                        </div>
                        <div class="col s10 left-align">
                            <p class="grey-text text-darken-4 margin">Ing. Rochester Caseres</p>
                            <span class="grey-text text-darken-1 ultra-small">Shared - 03 Junio 2016</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col s12">
                            <p class="left-align"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam cupiditate magni corporis enim cumque maiores vero eius libero voluptatum iusto dignissimos nesciunt iste a quia quo quisquam recusandae, doloribus laudantium Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quaerat dolore ullam mollitia doloremque, corporis fugit ducimus. Mollitia, quod. Illo, quam saepe? Ab ipsam quod minus. Asperiores obcaecati doloribus doloremque Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quidem mollitia necessitatibus ab qui, quasi vero totam labore facere est.!</p>
                        </div>
                    </div>
                </div>
                <div class="card-action row">
                    <div class="col s12 m2 card-action-share left-align">
                        <span class="badge green white-text left-align" style="border-radius:10px"> 2 </span>
                        <a class="activator" style="cursor:pointer">Ver Commentarios</a>
                    </div>
                    <div class="input-field col s10 m8">
                        <textarea id="comment" row="2" class="materialize-textarea"></textarea>
                        <label for="comment">Comentar</label>
                    </div>
                    <div class="col s1 m1" style="margin-top:40px">
                        <a class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="Enviar comentario"><i class="material-icons">send</i></a>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4 left-align">Comentarios<i class="material-icons right">close</i></span>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <img src="img/gerardo.jpg" alt="" class="circle responsive-img">
                            <span class="title green-text left">Eleazar Carballo</span>
                            <br>
                            <p class="left-align"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nobis rem nesciunt ex sunt enim reiciendis, nemo expedita, veniam, autem dolorum, officia at voluptate mollitia consequatur delectus totam suscipit necessitatibus.
                            </p>
                        </li>
                        <li class="collection-item avatar">
                            <img src="img/westly.jpg" alt="" class="circle responsive-img">
                            <span class="title green-text left">Westly Meza</span>
                            <br>
                            <p class="left-align"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam necessitatibus, provident quisquam, molestiae odit aperiam error facilis ab sunt! Velit provident suscipit asperiores cumque dolor exercitationem consequuntur soluta similique corporis.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col s12 m10 offset-m1" style="margin-bottom:50px">
            <div class="card">
                <div class="card-content" style="height:auto">
                    <div class="row">
                        <div class="col s2">
                            <img src="img/perfil.jpg" class="circle responsive-img">
                        </div>
                        <div class="col s10 left-align">
                            <p class="grey-text text-darken-4 margin">Br. Ricardo Carballo</p>
                            <span class="grey-text text-darken-1 ultra-small">Shared - 01 Junio 2016</span>
                            <p class="rigth"><i class="material-icons">get_app</i><a id="bajar">Estudio de Tiempo.docx</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col s12">
                            <p class="left-align"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam cupiditate magni corporis enim cumque maiores vero eius libero voluptatum iusto dignissimos nesciunt iste a quia quo quisquam recusandae, doloribus laudantium Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quaerat dolore ullam mollitia doloremque, corporis fugit ducimus. Mollitia, quod. Illo, quam saepe? Ab ipsam quod minus. Asperiores obcaecati doloribus doloremque Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quidem mollitia necessitatibus ab qui, quasi vero totam labore facere est.!</p>
                        </div>
                    </div>
                </div>
                <div class="card-action row">
                    <div class="col s12 m2 card-action-share left-align">
                        <a class="activator" style="cursor:pointer">Ver Comentarios</a>
                    </div>
                    <div class="input-field col s10 m8">
                        <textarea id="comment" row="2" class="materialize-textarea"></textarea>
                        <label for="comment">Comentar</label>
                    </div>
                    <div class="col s1 m1" style="margin-top:40px">
                        <a class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="Enviar comentario"><i class="material-icons">send</i></a>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4 left-align">Commentarios<i class="material-icons right">close</i></span>
                </div>
            </div>
        </div>
    </div>
    -->
    <div>
       <script>
        $("#agregarinsidencia").submit(function ()
        {
            var data = $("#agregarinsidencia").serialize();
            result = $('#result');
            agregarinsidencia('?post=insidencia', data, result, $('#myModal'),null);
            return false;
        });
    </script>
