<div id="menu-container" class="full">
    <div id="menu">
        <div class="row">
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="img/team.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Gestión de empleados
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="img/file.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Gestión de solicitudes
                    </p>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="img/notebook.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Manual de operaciones y procedimientos
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="img/notes.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Circulares y noticias
                    </p>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="img/market.png" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Gestión de Sucursales
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="img/technology.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Reportes de Insidencias
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
