<div id="menu-container" class="full">
    <!-- SLIDER PARA LOS ANUNCIOS Y CIRCULARES DE LA GERENCIA DE STIO-->
    <div class="slider slider-container">
        <ul class="slides">
            <li>
                <img src="<?php echo(IMG_DIR)?>cirular.png">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Circular:</h3>
                    <p class="date">12/5/2016</p>
                    <h5>Seles cominuca que el día 30 de mayo del 2016 se trabajará hasta medio día</h5>
                </div>
            </li>
            <li>
                <img src="<?php echo(IMG_DIR)?>cirular.png">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Circular:</h3>
                    <p class="date">12/5/2016</p>
                    <h5>Seles cominuca que el día 30 de mayo del 2016 se trabajará hasta medio día</h5>
                </div>
            </li>
            <li>
                <img src="<?php echo(IMG_DIR)?>cirular.png">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Circular:</h3>
                    <p class="date">12/5/2016</p>
                    <h5>Seles cominuca que el día 30 de mayo del 2016 se trabajará hasta medio día</h5>
                </div>
            </li>
            <li>
                <img src="<?php echo(IMG_DIR)?>cirular.png">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Circular:</h3>
                    <p class="date">12/5/2016</p>
                    <h5>Seles cominuca que el día 30 de mayo del 2016 se trabajará hasta medio día</h5>
                </div>
            </li>
        </ul>
    </div>
    <script>
        $(document).ready(function () {
            $('.slider').slider({
                full_width: true
            });
        });
    </script>
    <!-------------------------- FIN SLIDER -------------------->
    <div id="menu">
        <div class="row">
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>notebook.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Manual de operaciones y procedimientos
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>notes.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Circulares y noticias
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>file.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        mis solicitudes
                    </p>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="menu-btn" href="?view=sitio-estatico">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>information.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Información de Sucursales
                    </p>
                </div>
            </a>
        </div>

    </div>
