<div id="menu-container" class="full">
    <div id="menu">
        <div class="row">
            <a class="menu-btn" href="?view=empleado">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>team.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Gestión de empleados
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="?view=reporte">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>file.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Gestión de solicitudes
                    </p>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>notebook.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Manual de operaciones y procedimientos
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="#">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>notes.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Circulares y noticias
                    </p>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="menu-btn" href="?view=sitio">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>market.png" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Gestión de Sucursales
                    </p>
                </div>
            </a>
            <a class="menu-btn" href="?view=insidencia">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>technology.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Reportes de Insidencias
                    </p>
                </div>
            </a>
        </div>
        <div class="row">
            <a class="menu-btn" href="?view=sitio-estatico">
                <div class="menu-div">
                    <img src="<?php echo(IMG_DIR)?>information.svg" alt="">
                </div>
                <div class="menu-div">
                    <p class="title">
                        Información de Sucursales
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
