 <div id="modalPuesto" class="modal" role="dialog">
     <div class="modal-content">
         <h4>Modificar Comentario</h4>
         <hr>
             <form class="col s12" id="formcomentario">
                 <textarea id="textarea" row="2" class="materialize-textarea" name="descripcion" required></textarea>
                        <label for="textarea">
                            Modificar Comentario !!
                        </label>
             </form>
     </div>
</div>

<script src="<?php echo(AJAX_DIR)?>comentarios.js">


</script>
