<div id="menu-container">
    <form id="formsitio" class="col s10 m10 offset-m1 offset-s1 panelbackground" method="get" action="">
       <input type="hidden" value="0" name="id_insidencia">
        <h5 class="center black-text">Gestionar Sitios</h5>
        <hr>
        <div id="result">
        </div>
        <div id="submenus" class="col s4 m2" style="border:1px solid black !important; margin:20px !important;">
            <div class="switch">
                <label>
                    Agregar
                    <input type="checkbox" name="editar">
                    <span class="lever"></span>Editar
                </label>
            </div>
        </div>
        <div class="input-field col s6 m3">
            <input id="icon_prefix" type="text" class="validate center" name="nombre" required placeholder="Nombre">

        </div>
        <div class="input-field col s6 m3">
            <input id="icon_prefix" type="text" class="validate center" name="pais" required placeholder="Pais">

        </div>
        <div class="input-field col s6 m3">
            <input id="icon_prefix" type="text" class="validate center" name="ciudad" required placeholder="Ciudad">

        </div>
        <div class="input-field col s6 m3">
            <input id="icon_prefix" type="text" class="validate center" pattern="[0-9]{8}" name="telefono" required placeholder="Telefono">

        </div>
        <div class="col s6 m3 center">
            <button class="btn-floating btn-large waves-effect waves-light green tooltipped" type="submit" data-position="top" data-delay="50" data-tooltip="Agregar"><i class="material-icons">done</i></button>
        </div>
        <div class="input-field col s8">
            <textarea id="textarea1" class="materialize-textarea" name="direccion"></textarea>
            <label for="textarea1">Direccion</label>
        </div>
        <div class="row">
            <table id="sitios" class="col s12 m10 offset-m1 centered bordered scroll-y">
                <thead>
                    <tr>
                        <th data-field="id">No. Sucursal</th>
                        <th data-field="Nombre">Nombre</th>
                        <th data-field="ciudad">Ciudad</th>
                        <th data-field="Pais">Pais</th>
                    </tr>
                </thead>
                <tbody id="table " >
                    <?php include( GET_DIR . 'sitiosGet.php')?>
                </tbody>
            </table>
        </div>
    </form>
</div>

<script src="<?php echo(AJAX_DIR)?>sitios.js">
</script>

